
<!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ path('admin') }}">
        <div class="sidebar-brand-icon">
         <i class="fas fa-user"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Admin panel</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="{{ path('admin') }}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <hr class="sidebar-divider my-0">

        <li class="nav-item active">
            <a class="nav-link" href="">
                <i class="fas fa-table"></i>
                <span>Products</span>
            </a>
        </li>

        <hr class="sidebar-divider my-0">

        <li class="nav-item active">
            <a class="nav-link" href="">
                <i class="fas fa-user"></i>
                <span>Users</span>
            </a>
        </li>
        <hr class="sidebar-divider my-0">

        <li class="nav-item active">
            <a class="nav-link" href="">
                <i class="fas fa-shopping-cart"></i>
                <span>Orders</span>
            </a>
        </li>
        <hr class="sidebar-divider my-0">
        
        <li class="nav-item active">
            <a class="nav-link" href="{{ path('admin_contacts') }}">
                <i class="fas fa-list"></i>
                <span>Contact</span>
            </a>
        </li>
    
        <hr class="sidebar-divider my-0">

        <li class="nav-item active">
            <a class="nav-link" href="{{ path('admin_about_us') }}">
                <i class="fas fa-info"></i>
                <span>About us</span>
            </a>
        </li>

        <hr class="sidebar-divider my-0">

        </ul>
 <!-- End of Sidebar -->