{% extends '/admin/admin.html.twig' %}

{% block title %} Promena lozinke {% endblock %}

{% block body %}
<div class="col-sm-6">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-success">Password Change</h6>
        </div>
        <div class="card-body">
            <form action="{{ path('admin_users_password_handler',{'id': users.id}) }}" method="POST">
 
            <div class="form-group">
                <label for="password">Current password:</label>
                <input id="password" class="form-control" type="password"  
                name="password" value="{{ users.password }}" readonly>
            </div>

            <div class="form-group">
                <label for="new_password">New password:</label>
                <input id="new_password" class="form-control" type="password"  
                name="new_password" value="">
            </div>

            <div><input type="submit" class="btn btn-success" value="Change"></div>
        </form>
        </div>
    </div>
</div>
{% endblock %}