{% extends '/admin/admin.html.twig' %}

{% block title %} Dodaj O nama {% endblock %}

{% block body %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Dodaj novu stranicu O nama</h6>
    </div>
    <div class="card-body">
        <form action="{{ path('admin_about_store') }}" method="POST" enctype="multipart/form-data">

        <div class="form-group">
            <label for="title">Naslov:</label>
            <input id="title" class="form-control" type="text"  
            name="title" required>
        </div>

        <div class="form-group">
            <label for="content">Naša priča::</label>
            <textarea rows="5" class="form-control" id="content" type="text" 
            name="our_story" required></textarea>
        </div>

        <div class="form-group">
            <label for="content">O nama tekst:</label>
            <textarea rows="5" class="form-control" id="content" type="text" 
            name="about_us_text" required></textarea>
        </div>

        <div class="form-group">
            <label for="content">Sadržaj:</label>
            <textarea rows="5" class="form-control" id="content" type="text" 
            name="content" required></textarea>
        </div>

        <div><input type="submit" class="btn btn-primary" value="Create"></div>
     </form>
    </div>
</div>
{% endblock %}